<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <h1>Raad het getal</h1>
  
  <p>Raad het willekeurig gekozen getal tussen 1 en 100. <br>
     Je krijgt hiervoor maximaal 10 beurten. <br>
     Bij een foute gok krijg je te zien of je hoger of lager moet gokken.
  </p>

  <mat-form-field class="example-full-width" >
    <mat-label>Doe een nieuwe gok</mat-label>
    <input matInput type="number" [disabled]="isSpelVoorbij" placeholder="Vul waarde in" #nieuweGokwaarde />
  </mat-form-field>
  
  <button mat-raised-button color="primary" id="gokButton" [disabled]="isSpelVoorbij" (click)="doeGok(nieuweGokwaarde.value)"
    matBadge="{{resterendeBeurten}}" matBadgePosition="after" matBadgeColor="warn" matBadgeSize="medium">Doe een gok</button>

  <mat-progress-bar mode="determinate" value="{{resterendeBeurten*10}}"></mat-progress-bar>
  <p>{{beurtenOver}}</p>
  <p>{{juistOfFout}}</p>

  <mat-list role="list">
    <mat-list-item *ngFor="let feedback of gokfeedback" role="listitem">{{feedback}}</mat-list-item>
  </mat-list>

  <div *ngIf="isSpelVoorbij"> 
    <p>Nog eens spelen?</p>
    <button mat-raised-button color="accent" (click)="reset()">Reset</button>
  </div>

</body>
</html>