<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <h1>Raad het getal</h1>
  
  <p>Raad het willekeurig gekozen getal tussen 1 en 100. <br>
     Je krijgt hiervoor maximaal 10 beurten. <br>
     Bij een foute gok krijg je te zien of je hoger of lager moet gokken.
  </p>

  <input type="number" id="inputVeld" [disabled]="isSpelVoorbij" #nieuweGokwaarde />
  <button id="gokButton" [disabled]="isSpelVoorbij" (click)="doeGok(nieuweGokwaarde.value)" >Doe een gok</button>

  <p>{{vorigeGokken}}</p>
  <p>{{juistOfFout}}</p>
  <p>{{beurtenOver}}</p>

  <div *ngIf="isSpelVoorbij"> 
    <p>Nog eens spelen?</p>
    <button (click)="reset()">Reset</button>
  </div>

</body>
</html>